html, body{
    height: 100%;
}
body{
    background: white;
    margin: 0%;
    padding: 0%;
    position: relative;
}
img{
    width: 100px;
    height: 55px;
    position: absolute;
    left: 5%;
    top: 10px;
    /* margin-left: -50px; */
    /* margin-top: -28px; */
}
