.index {
  width: 100%;
  overflow: hidden;
  position: relative;
  .search {
    width: 100%;
    box-sizing: border-box;
    padding: 0 25rpx 0 10rpx;
    position: fixed;
    top: 0;
    z-index: 99;
    height: 80rpx;
    display: flex;
    align-items: center;
    background-color: #fff;
    div:nth-child(1) {
      width: 115rpx;
      text-align: center;
      overflow: hidden;
      word-spacing: normal;
      text-overflow: ellipsis;
      font-size: 20rpx;
      padding-right: 15rpx;
    }
    div:nth-child(2) {
      flex: 1;
      position: relative;
      input {
        width: 100%;
        height: 56rpx;
        border-radius: 8rpx;
        background-color: #ededed;
        box-sizing: border-box;
        padding-left: 40rpx;
      }
      .icon {
        position: absolute;
        top: 15rpx;
        left: 10rpx;
        background: url("../../../static/images/search.png") no-repeat center;
        background-size: 100%;
        width: 28rpx;
        height: 28rpx;
        margin-right: 10rpx;
      }
    }
  }
  .swiper{
    width: 100%;
    height: 417rpx;
    margin-top: 80rpx;
    .swiper-container{
      width: 100%;
      height: 100%;
      .swiper-item{
        width: 100%;
        height: 100%;
        .slider-image{
          width: 100%;
        }
      }
    }
  }
  .channel{
    display:flex;
    padding: 20rpx 0;
    background-color: #fff;
    div{
      flex: 1;
      text-align: center;
      img{
        width: 58rpx;
        height: 58rpx;
        display: inline-block;
      }
    }
  }
  .brand{
    width: 100%;
    margin-top: 20rpx;
    background-color: #fff;
    .head{
      text-align: center;
      padding: 40rpx 0;
    }
    .content{
      width: 730rpx;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      div{
        width: 360rpx;
        height: 235rpx;
        margin-bottom: 10rpx;
        position: relative;
        div{
          position: absolute;
          top: 0;
          left: 0;
          padding: 10rpx;
          p:nth-child(2) {
            font-size: 24rpx;
          }
        }
        img{
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .newgoods{
    width: 100%;
    &-top{
      margin-top: 20rpx;
      height: 260rpx;
      width: 100%;
      // background: url('../../../static/images/bgnew.png') no-repeat;
      background-color: rgba(0, 238, 255, 0.377);
      background-size: contain;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      .top{
        p{ 
          color: #8c9bae;
        font-size: 32rpx;
        }
        p:nth-child(2) {
          width: 180rpx;
          height: 50rpx;
          line-height: 50rpx;
          margin: 27rpx auto 0 auto;
          font-size: 22rpx;
          background: #d8e4f0;
        }
      }
    }
    .list{
      margin-top: 20rpx;
      background-color: #fff;
      padding-bottom: 10rpx;
      ul{
        width: 100%;
        white-space: nowrap; // 不换行展示
        li{
          width: 280rpx;
          height: 416rpx;
          margin: 5rpx 0 5rpx 25rpx;
          display: inline-block;
          img{
            width: 200rpx;
            height: 200rpx;
          }
          p{
            width: 94%;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
            margin-top: 8rpx;
            text-indent: 1em;
          }
          p:nth-child(2){
            font-size: 30rpx;
            font-weight: bold;
          }
          p:nth-child(3){
            font-size: 24rpx;
            color: #8a8a8a;
          }
          p:nth-child(4){
            font-size: 24rpx;
            color: #9c3232;
          }
        }
      }
    }
  }
}
